[Desktop Entry]
Version=1.4.12
Type=Application
Terminal=false
Exec=chronowiz
Name=chronowiz
Comment=Time, Date and Time Span calculator
Icon=${SNAP}/meta/gui/chronowiz.png
